.service{
    width: 300px;
    height: 350px;
    margin-left: 100px;
}
.desc{
    font-size: 0.9rem;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .service{
        width: 300px;
        height: 350px;
        margin-left: 35px;
    }
  }